<div style="display:flex;width:100%;">
  <form #imageForm=ngForm>
      <div style="width:47%;">
          <p>Entreprise</p>
          <input [(ngModel)]="partenaireData.entreprise" name="name" autofocus required>
      </div>

      <div style="width:47%;margin-left:6%">
        <p>RaisonSocial</p>
        <input [(ngModel)]="partenaireData.raisonsocial" name="name" required>
    </div>

    <div style="width:47%;">
      <p>NINEA</p>
      <input [(ngModel)]="partenaireData.ninea" name="name" required>
    </div>
    <div style="width:47%;margin-left:6%">
      <p>AdresseSociete</p>
      <input [(ngModel)]="partenaireData.adressesociete" name="name" required>
    </div>
      <div style="width:47%;">
          <p>Statut</p>
          <input [(ngModel)]="partenaireData.statut"name="name" required>
      </div>

      <div style="width:47%;margin-left:6%">
          <p>Username</p>
          <input [(ngModel)]="partenaireData.username" name="name" required>
      </div>
      <div style="width:47%;">
          <p>Password</p>
          <input [(ngModel)]="partenaireData.password" type="password" name="name" required>
      </div>

      <div style="width:47%;margin-left:6%">
        <p>Prenom</p>
        <input [(ngModel)]="partenaireData.prenom" name="name" required>
    </div>
    <div style="width:47%;">
        <p>Nom</p>
        <input [(ngModel)]="partenaireData.nom" name="name" required>
    </div>

      <div style="width:47%;margin-left:6%">
        <p>Mail</p>
        <input [(ngModel)]="partenaireData.mail" name="email" required>
    </div>
    <div style="width:47%;">
        <p>Telephone</p>
        <input [(ngModel)]="partenaireData.telephone" name="phone" required>
    </div>

    <div style="width:47%;margin-left:6%">
      <p>Adresse</p>
      <input [(ngModel)]="partenaireData.adresse" name="name" required>
  </div>
  <div style="width:47%;">
      <p>cni</p>
      <input [(ngModel)]="partenaireData.cni" type="number" name="phone" required>
  </div>

    <div style="width:47%;margin-left:6%">
      <p>Profil</p>
      <input [(ngModel)]="partenaireData.profil" name="name" required>
  </div>
  <div style="width:47%;">
      <p>Solde</p>
      <input [(ngModel)]="partenaireData.solde" type="number" name="phone" required>
  </div>

  <img [src]="imageUrl" style="width:150px;height:100px" alt="">
  <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)" >

      <p class="term">
          <i class="fa fa-check-square-o" aria-hidden="true"></i><span>J'accepte les termes et conditions. </span>
      </p>

      <p>
        <button (click)="postFile()" type="button"  class="btn btn-primary" [disabled]="Image.value==''">Save</button>
      </p>
      <a>by mme_Sow</a>
  </form> 
</div>




<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Entreprise</th>
            <th scope="col">RaisonSocial</th>
            <th scope="col">Ninea</th>
            <th scope="col">Adresse</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partenaire of partenaires">
            <td>{{partenaire.id}}</td>
            <td>{{partenaire.entreprise}}</td>
            <td>{{partenaire.raisonsocial}}</td>
            <td>{{partenaire.ninea}}</td>
            <td>{{partenaire.adressesociete}}</td>
            <td>{{partenaire.statut}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>