<div class="container h-100">
    <div class="d-flex justify-content-center">
      <div class="card mt-5 col-md-4 animated bounceInDown myForm">
        <div class="card-header">
          <h4>Compte</h4>
        </div>
        <div class="card-body">
          <form>
            <div id="dynamic_container">
              <div class="input-group">
                <div class="input-group-prepend">
                  
                </div>
                <input [(ngModel)]="compteData.solde" name="solde" type="number" placeholder="solde" class="form-control" required/>
              </div>
              <div class="input-group mt-3">
                <div class="input-group-prepend">
                  
                </div>
                <input [(ngModel)]="compteData.partenaire" name="partenaire" type="number" placeholder="partenaire_id" class="form-control" required/>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button (click)="postFile()" class="btn btn-success btn-sm float-right submit_btn"><i class="fas fa-arrow-alt-circle-right"></i>Submit</button>
        </div>
      </div>
    </div>
    </div>
